<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{meta}}
</head>
<body>
    <img src="../../images/square14x14_8bit.bmp" alt="image directly from template"/>
    <img src="../../images/rectangle14x10_24bit.bmp" alt="another image directly from template"/>
    <h1>{{title}}</h1>
    <article>{{content}}</article>
    {{image:featuredImage}}
    {{thumbnail:featuredImage}}
</body>
</html>